<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download app</h3>
        <p>Download app for android and ios</p>
        <div class="app-logo">
          <img src="./assets/images/play-store.png" alt="">
          <img src="./assets/images/app-store.png" alt="">
        </div>
      </div>
      <div class="footer-col-2">
        <img src="./assets/images/logo-white.png" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ipsam odio vel laudantium expedita,
          dolorem autem hic commodi error perspiciatis ullam.</p>
      </div>
      <div class="footer-col-3">
        <h3>Usefull links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog post</li>
          <li>Return policy</li>
          <li>Join afiliate</li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Youtube</li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="copyright">Copyright 2020 - easy tutorial</p>
  </div>
</div>
