<div class="account-page">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="form-container">
          <div class="form-btn">
            <h2>Account menu</h2>
          </div>
          <form id="account">
            <input type="text" name="username" placeholder="{{currentUser.getUserName()}}">
            <input type="email" name="email" placeholder="{{currentUser.getEmail()}}">
            <p>I can't show your password, but you may know it...</p>
            <input type="password" name="password" placeholder="Password">
            <button type="submit" class="btn">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
