<div *ngIf="product$ | async as product; else loading">
  <div class="small-container single-product">
    <div class="row">
      <div class="col-2">
        <img src="./assets{{product.img}}" width="100%" id="ProductImg" alt="">
      </div>
      <div class="col-2">
        <h1>{{product.name}}</h1>
        <h4>{{product.price}}$</h4>

        <form action="" method="post">
          <label>
            <select >
              <option *ngFor="let topping of selectList" [value]="topping">{{topping}}</option>
            </select>
            <input name="count" type="number" value="1">
          </label>
          <button type="submit" class="btn">Add to cart</button>
        </form>

        <h3>Product Details <i class="fa fa-indent"></i></h3>
        <br>
        <p>{{product.details}}</p>
      </div>
    </div>
  </div>

  <div class="small-container">
    <div class="row row-2">
      <h2>Related products</h2>
      <p>View more</p>
    </div>
  </div>

  <div *ngIf="relatedProducts$ | async as relatedProducts" class="small-container">
    <div class="row">
      <app-product class="col-4" *ngFor="let product of relatedProducts; let i = index;" [product]="product"></app-product>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="small-container single-product">
    <div class="row">
      <h1 class="text-center">Loading...</h1>
    </div>
  </div>
</ng-template>
